* {
  margin: 0;
  padding: 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr 50px;
  background-color: lightblue;
}

header {
  padding-top: 10px;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  background-color: green;
  position: fixed;
}
.Main {
  padding-top: 10px;
  margin-bottom: 10px;
  grid-row: 2 / span 3;
  grid-column: 2 / span 3;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main p {
  margin: 5px;
  width: 77%;
  background-color: rgba(189, 187, 187, 0.274);
}
.Main ul img {
  height: 150px;
}
.Main ul {
  margin-top: 30px;
  width: 75%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.Three_Products {
  display: flex;
  justify-content: space-around;
}
.Two_Products {
  display: flex;
  justify-content: space-around;
}
/*.Two_Products img {
  height: 30%;
}
*/
.Slideshow {
  width: 50%;
  margin: auto;
}

.Slideshow img {
  width: 100%;
}
.Sidebar {
  position: fixed;
  padding-top: 50px;
  margin-top: 20px;
  width: 10%;
  color: black;
}
nav ul {
  height: 50vh;
  color: black;
  background-color: rgba(173, 171, 171, 0.822);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

nav li:hover {
  background-color: grey;
}
nav a {
  color: black;
  text-decoration: none;
}
header a {
  color: black;
  text-decoration: none;
}
footer {
  width: 100%;
  margin: 0px;
  padding: 5px;
  background-color: rgb(17, 146, 13);
  grid-row: end;
  grid-column: 1 / span 4;
}
footer ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  list-style: none;
}
.footer_list {
  height: 100%;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
